/* Estiliza a largura da barra de rolagem */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Largura da barra */
}

/* Estiliza a "pegada" da barra de rolagem */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: oklch(71.8% 0.202 349.761);
  border-radius: 4px;
}

/* Estiliza o fundo da barra de rolagem */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9; /* Cinza claro */
  border-radius: 4px;
}

.error-toast {
  background-color: oklch(0.637 0.237 25.331);
}
